.button-check{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.5rem;
    background-color: $color-tertiary;
    color: white;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
        & .fas{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transition: transform 0.5s ease-in-out;
        -webkit-transition: transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        }
}