.card-food{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    position: relative;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    & h5{
        margin: 0;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
    & p{
        margin: 0;
        font-weight: 200;
        font-size: 0.9rem;
    }
    & span{
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
    &:hover{
        .button-check{
            transform: scaleX(1);
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
        }
        .fas{
            transform: rotate(0turn);
            -webkit-transform: rotate(0turn);
            -ms-transform: rotate(0turn);
        }
    }
}